{
  "env": {
    "browser": false,
    "mocha": false,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "semi": [0, "always"],
    "arrow-body-style": [2, "always"],
    "max-len" : ['error', 120]
   }
}
